* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: #05200f;
  color: #fff;
}
.title {
  font-size: 4.5rem;
  text-align: center;
  margin: 2rem 0;
}
.lblResult {
  font-size: 2rem;
  text-align: center;
  margin: 2rem 0;
}
#CompoundInterestCalculator {
  max-width: 350px;
  margin: 4rem auto;
  display: flex;

  flex-direction: column;
  gap: 15px;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 3px 15px 3px rgba(0, 0, 0, 0.6);
}
input {
  border: none;
  outline: none;
  padding: 0.75rem;
  border-radius: 5px;
  height: 60px;
  font-size: 1.5rem;
  background-color: #164372;
  color: #fff;
  box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.2);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* for Firefox */
input[type="number"] {
  -moz-appearance: none;
}

button {
  cursor: pointer;
  height: 60px;
  font-size: 1.5rem;
  font-weight: 500;
  border: none;
  outline: none;

  background-color: #4ad295;
  color: #fff;
  border-radius: 5px;
}

button:hover {
  background-color: #319166;
  color: #eee;
}

button:active {
  transform: scale(0.98);
}

#Result {
  width: fit-content;
  margin: 1rem auto;
  color: #4ad295;
  padding: 0.75rem;
  border-radius: 5px;
  background-color: #164372;
  box-shadow: 0 3px 15px 3px rgba(0, 0, 0, 0.6);
}

.title.fade {
  animation: fadeIn 0.2s linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#author {
  font-size: 15px;
  padding-left: 10px;
  text-shadow: 0px 2px 6px white;
}

#authorlink {
  text-decoration: none;
  color: white;
}
